.container_modal_project {
  display: flex;
  justify-content: space-around;
  align-items: top;
}

.container_box_modal {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 25px;
}
.card_area{
  width: 389px;
   height: 258px;
   display: flex; 
   flex-direction: column; 
   background-color: #E6E9F2
}

.button_salvar{
  color: white;
  width: 110px;
  height: 52px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  background-color: #F52;
  padding: 8px 22px;
  justify-content: space-between;
  text-transform: uppercase;
  cursor: pointer;
}
.button_salvar:hover {
  background-color: #F52;
  opacity: 0.8;
}
.button_cancelar{
  color: white;
  width: 130px;
  height: 52px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  color: #818388;
  margin-left: 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.button_cancelar:hover {
  background-color: white;
  opacity: 0.8;
}
.titulo{
  color: var(--Neutral-Colors-Neutral-110, #515255);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
 
}
.subtitulo{
  width: 389px;
align-self: stretch;
color: var(--Neutral-Colors-Neutral-110, #515255);
font-size: 17px;
margin-top: 15px;
margin-bottom: 15px;
}
.visualizar{
  text-decoration: none;
  color: #515255;
  margin-top: 15px;
  display: flex;
  cursor: pointer;
  margin-bottom: 15px;
}
.box_Form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 990px;
  height: 522px;
  background-color: #ffffff;
  padding: 20px;
}
.div_area_card{
  width: 100%;
  height: 100%;
  margin-top: px;
}


@media only screen and (max-width: 768px) {
  .section_modal{
    padding: 10px;
  }
  .container_modal_project {
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
  }
  .container_box_modal {
    display: flex;
    height: 100%;
    padding-left: 0;
    width: 100%;
  }
  .box_Form{
    position: relative;
    width: 350px;
    height: 750px;
    padding: 10px;
  }

.titulo{

  display: flex;
  position: relative;
}
.div_area_card{
  width: 100%;
  height: 100%;
  margin-top: 70px;
}
.card_area{
  height: 200px;
  width: 100%;
}
.subtitulo{
  width: 100%;
}
}