.container_to_view_project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border: solid 2px red;
}

.container_name_data_title_tags {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  border: solid 2px green;
}

.container_name_data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: solid 2px blue;
}

.container_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: solid 2px yellow;
}

.container_tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: solid 2px pink;
}

.container_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60%;
  border: solid 2px purple;
}

.container_description {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  border: solid 2px orange;
}

.container_url {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20%;
  border: solid 2px black;
}