.dicovery_container{
  width: 100%;
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: baseline;
  overflow-y: auto;
}

.text_discovery {
  color: #222244;
  width: 40%;
  height: 30%;
  margin: 50px auto;
  text-align: center;
}

.container_projects_discovery {
  padding: 30px;
}

.container_basic_card {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 100px; 
  width: 100%;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {

  .container_input_search {
    width: 100%;
  }

    .text_discovery {
      width: auto;
      padding: 30px;
    }

  .container_basic_card {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 30px; 
  }
  
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
  .container_basic_card {
    gap: 20px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}