.buttonModal {
  color: rgba(0, 0, 0, 0.5) !important;
  box-shadow: none !important;
  background-color: rgba(0, 0, 0, 0.12) !important;
  padding-inline: 16px !important;
}
  
.buttonModal:hover {
  background-color: #FF5522 !important;
  color: white !important;
}