/* TextField.css */

.buscarTags {
  width: 450px;
  padding: 20px;
}

.buscarTags .MuiTextField-root {
  width: 100%;
}

.buscarTags .MuiOutlinedInput-input {
  padding: 10px;
}

.buscarTags .MuiInputLabel-root {
  background-color: #ffffff; 
}

.buscarTags .MuiOutlinedInput-notchedOutline {
  border-color: #ccc;
}

@media only screen and (max-width: 600px) {
  .buscarTags {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .buscarTags .MuiTextField-root {
    width: 100%;
  }
  
  .buscarTags .MuiOutlinedInput-input {
    padding: 10px;
  }
  
  .buscarTags .MuiInputLabel-root {
    background-color: #ffffff; 
  }
  
  .buscarTags .MuiOutlinedInput-notchedOutline {
    border-color: #ccc;
  }
}