.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* 100% da altura da viewport */
    background-color: #ffff; /* Cor de fundo, ajuste conforme necessário */
  }
  
  .content {
    display: flex;
    align-items: center;
  }
  
  .content img {
    width: 150px; /* Ajuste conforme necessário */
    height: auto;
    margin-right: 20px; /* Espaçamento entre a imagem e o texto, ajuste conforme necessário */
  }
  
  .content p {
    margin: 0;
    font-size: 16px; /* Ajuste conforme necessário */
    color: #0B0C0D; /* Cor do texto, ajuste conforme necessário */
  }
  .text-container {
    display: flex;
    flex-direction: column; /* Textos empilhados verticalmente */
    padding: 30px;
  }

  .buttonProfileHome {
    margin-top: 20px; /* Adicione margem acima do botão, ajuste conforme necessário */
    padding: 10px 20px; /* Ajuste conforme necessário */
    font-size: 16px; /* Ajuste conforme necessário */
    background-color: #00000061; /* Cor de fundo do botão, ajuste conforme necessário */
    color: white; /* Cor do texto do botão, ajuste conforme necessário */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buttonProfileHome:hover {
    background-color: #111133;
    ; /* Cor de fundo do botão ao passar o mouse, ajuste conforme necessário */
  }

  .imgProfileHome{
    border-radius: 50%;
  }
  .avatarProfile{
    size: 500px;
  }